<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="blocks/head :: header"></div>
    </head>
    <body>

        <div class="container d-flex align-items-stretch">
            <nav id="sidebar" class="img">
                <div th:replace="blocks/navigation :: navigation"></div>
            </nav>

            <!-- Page Content  -->
            <div id="content" class="pt-4 pl-5">
                <h4>Meeting properties</h4>
                <hr>
                <br>
                <form action="#">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="view">View Per Page</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="view"
                                   th:value="${properties.viewPerPage}" autocomplete='off' tabindex='3' type="text"
                                   aria-describedby="viewPerPageDescription" readonly>
                            <small id="viewPerPageDescription" class="form-text text-muted">Amount of meetings that
                                will
                                be shown in view where pagination inline keyboard present.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="view1">Session</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="view1"
                                   th:value="${properties.session}" autocomplete='off' tabindex='3' type="text"
                                   aria-describedby="sessionDescription" readonly>
                            <small id="sessionDescription" class="form-text text-muted">Session time (minutes)
                                during
                                SBS meeting creation. After this time the session will be expired</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="view1">Hour Advance</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="view1"
                                   th:value="${properties.creation.hourAdvance}" autocomplete='off' tabindex='3'
                                   aria-describedby="hourAdvanceDescription" readonly>
                            <small id="hourAdvanceDescription" class="form-text text-muted">Minimum time (hours)
                                that
                                have to past before starting meeting.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="view1">Upper hour limit today</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="view1"
                                   th:value="${properties.creation.upperHourLimitToday}" autocomplete='off'
                                   tabindex='3'
                                   type="text"
                                   aria-describedby="upperHourDescription" readonly>
                            <small id="upperHourDescription" class="form-text text-muted">Minimum time (hours) that
                                have to past before starting meeting.</small>
                        </div>
                    </div>
                    <hr>
                    <div class="custom-control custom-checkbox md-10">
                        <input type="checkbox" class="custom-control-input" id="customControlInline"
                               th:field="${properties.creation.notificationGroup}"
                               onclick="return false;"/>
                        <label class="custom-control-label" aria-describedby="test" for="customControlInline">Group
                            Notification</label>
                        <small id="test" class="form-text text-muted">Minimum time (hours) that
                            have to past before starting meeting.</small>
                    </div>
                    <hr>
                    <br>
                    <a th:href="@{/admin/meeting-properties-edit}" class="btn btn-info btn-md">Edit</a>


                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        Reset
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to reset meeting properties to default values?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a th:href="@{/admin/meeting-properties-reset}" class="btn btn-primary btn-md">Reset</a>
                                </div>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
        </div>

    </body>
</html>