<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="blocks/head :: header"></div>
    </head>
    <body>

        <div class="container d-flex align-items-stretch">
            <nav id="sidebar" class="img">
                <div th:replace="blocks/navigation :: navigation"></div>
            </nav>

            <!-- Page Content  -->
            <div id="content" class="pt-4 pl-5">
                <h4>Black list</h4>
                <hr>
                <br>

                <form id="form" action="#" method="POST"
                      th:action="@{/admin/users/black-list}"
                      th:object="${blackListRecord}">
                    <div class="form-group row">
                        <!-- User input data row  -->
                        <label class="col-sm-4 col-form-label" for="userId">User ID</label>
                        <div class="col-sm-6">
                            <input class="form-control" id="userId" th:field="*{user.id}" type="number"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="description">Description</label>
                        <div class="col-sm-6">
                            <input class="form-control" id="description" th:field="*{description}" type="text"/>
                        </div>
                    </div>
                    <!-- Save button  -->
                    <br>
                    <button type="submit" class="btn btn-info col-2">Add to Black List</button>
                </form>
                <br>
                <hr>
                <br>

                <!--Main table-->
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>User ID</th>
                            <th>Username</th>
                            <th>First Name</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="record : ${blackListUsers}">
                            <td th:text="${record.user.id}"/>
                            <td th:text="${record.user.userName}"/>
                            <td th:text="${record.user.firstName}"/>
                            <td th:text="${record.description}"/>
                            <td th:text="${record.date}"/>
                            <td><a th:href="@{unblock-user?record-id={id}(id=${record.id})}">Unblock user</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>