<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="blocks/head :: header"></div>
    </head>
    <body>
        <div class="container d-flex align-items-stretch">
            <nav id="sidebar" class="img">
                <div th:replace="blocks/navigation :: navigation"></div>
            </nav>
            <!-- Page Content  -->
            <div id="content" class="p-4 p-md-5 pt-5">
                <h4>Meeting properties</h4>
                <hr>
                <a th:href="@{|/admin/log-download|}">Download log file</a>
                <hr>
                <p th:text="${lastLog}">
                    <!--                <textarea class="form-control " rows="15" th:text="${lastLog}"-->
                    <!--                          placeholder="Please write customer notes"></textarea>-->
                    <!--                <div class="form-group">-->
                    <!--                    <label for="exampleFormControlTextarea1">Example textarea</label>-->
                    <!--                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="43"></textarea>-->
                    <!--                </div>-->
            </div>
        </div>
    </body>
</html>