<!--https://fontawesome.com/v4.7.0/icons/-->

<th:block th:fragment="navigation">
    <div class="p-4">
        <h1><a href="index.html" class="logo">Razykrashka <span>Admin Panel</span></a></h1>
        <ul class="list-unstyled components mb-5">
            <!--            <li class="active">-->
            <!--                <a href="#"><span class="fa fa-home mr-3"></span>Home</a>-->
            <!--            </li>-->
            <li>
                <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">
                    <span class="fa fa-cogs mr-3"></span>Properties</a>
                <ul class="list-unstyled collapse" id="pageSubmenu1" style="">
                    <li>
                        <a th:href="@{/admin/meeting-properties}"><span class="fa fa-graduation-cap mr-3"></span>Meeting</a>
                    </li>
                    <li>
                        <a th:href="@{/admin/job-properties}"><span class="fa fa-tasks mr-3"></span>Job</a>
                    </li>
                </ul>
            </li>
            <!--            <li>-->
            <!--                <a rel="noopener noreferrer" target="_blank" href="/../time-setter"><span class="fa fa-calendar mr-3"></span>Times Setter</a>-->
            <!--            </li>-->
            <li>
                <a th:href="@{/admin/logs}"><span class="fa fa-file-text-o mr-3"></span> Log</a>
            </li>
            <li>
                <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">
                    <span class="fa fa-user-o mr-3"></span> Users</a>
                <ul class="list-unstyled collapse" id="pageSubmenu2" style="">
                    <li>
                        <a th:href="@{/admin/users/info}"><span class="fa fa-graduation-cap mr-3"></span>Info</a>
                    </li>
                    <li>
                        <a th:href="@{/admin/users/info}"><span class="fa fa-thumbs-down mr-3"></span> Black list</a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="mb-5">
            <form th:action="@{/logout}" method="POST">
                <button class="btn btn-info btn-md">Logout</button>
            </form>
        </div>

        <div class="footer">
            <p>
                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved | <i class="icon-heart"
                                         aria-hidden="true"></i> <a
                    href="https://t.me/RazykrashkaClub" target="_blank">razykrashka.com</a>
            </p>
        </div>

    </div>
</th:block>